<div class="main-menu">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<%= adminka_root_path %>">
      <%= image_tag 'logo.png' %>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to t('adminka.main_menu.lists'), adminka_product_lists_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('adminka.main_menu.products'), adminka_products_path, class: 'nav-link' %>
        </li>


      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to t('adminka.main_menu.logout'), destroy_user_session_path, method: :delete, class: 'nav-link', 'data-turbolinks': 'false' %>
        </li>
      </ul>
    </div>
  </nav>
</div>