<!DOCTYPE html>
<html>
  <head>
    <title>ShoppyVue</title>
    <meta name="apple-mobile-web-app-title" content="Alex Kalinin">
    <meta name='turbolinks-cache-control' content='no-cache' >

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'adminka', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'adminka', 'data-turbolinks-track': 'reload' %>

  </head>

  <body data-location="<%= "#{controller_path}##{action_name}" %>">

    <%= render partial: 'adminka/main_menu' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
